
a.ABC {
    padding: 8px 8px 8px 3px;
    text-decoration: none;
    color: #000000e6;
    display: block;
    transition: 0.3s;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background: white;
}

    a.ABC:hover {
        color: black;
        background-color: #ebebeb;
    }

.containerr {
    padding-top: 130px;
    padding-left: 350px;
}

.format {
    width: 800px;
    height: 500px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .Change {
        margin-left: -100PX;
        padding-block: 6rem;
    }

    a.ABC {
        padding: 8px 8px 8px 3px;
        text-decoration: none;
        color: #000000e6;
        display: block;
        transition: 0.3s;
        border: none;
        border-radius: 5px;
        background: none;
    }

        a.ABC:hover {
            background: none;
        }

    .containerr {
        padding-top: 130px;
        padding-left: 0px;
    }

    .format {
        margin-inline: 100px;
        width: -webkit-fill-available;
        margin-left: 43px;
        margin-right: -5px;
    }
}
