@{
    Layout = null;
}
<head>
<style>

    .container_1{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
    }
</style>

</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container_1"> 
<p style="text-align:center; margin-top:20px; font-size:30px;font-weight:bold; ">Request Confirmation</p>
<p class="h3" style="text-align:center; margin-top:30px; "> Your request has been submitted successfully.</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary" style="width:70px;" >Back</a>
</div>