@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Category>

@{ Layout = "_Layout2"; }
<style>
    .format {
        width: 700PX;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin: 20PX;
        display: flex;
        justify-content: center;
    }

    .list {
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .rows {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        background: #E7EAF5;
        margin: 20px;
        border: 2px solid #d7d7d7;
        padding: 10px;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .cols {
        margin: 5px;
    }

    .btn {
        background-color: transparent;
        position: relative;
        border: none;
    }

        .btn::after {
            content: 'delete';
            position: absolute;
            top: -130%;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            height: fit-content;
            background-color: rgb(168, 7, 7);
            padding: 4px 8px;
            border-radius: 5px;
            transition: .2s linear;
            transition-delay: .2s;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            opacity: 0;
            visibility: hidden;
        }

    .icon {
        transform: scale(1.2);
        transition: .2s linear;
    }

    .btn:hover > .icon {
        transform: scale(1.5);
    }

        .btn:hover > .icon path {
            fill: rgb(168, 7, 7);
        }

    .btn:hover::after {
        visibility: visible;
        opacity: 1;
        top: -160%;
    }

    .edit-button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgb(20, 20, 20);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
        cursor: pointer;
        transition-duration: 0.3s;
        overflow: hidden;
        position: relative;
        text-decoration: none !important;
    }

    .edit-svgIcon {
        width: 17px;
        transition-duration: 0.3s;
    }

        .edit-svgIcon path {
            fill: white;
        }

    .edit-button:hover {
        width: 130px;
        height: 45px;
        border-radius: 50px;
        transition-duration: 0.3s;
        background-color: rgb(0 159 248 / 98%);
        align-items: center;
    }

        .edit-button:hover .edit-svgIcon {
            width: 20px;
            transition-duration: 0.3s;
            transform: translateY(60%);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }

    .edit-button::before {
        display: none;
        content: "Edit";
        color: white;
        transition-duration: 0.3s;
        font-size: 2px;
    }

    .edit-button:hover::before {
        display: block;
        padding-right: 10px;
        font-size: 13px;
        opacity: 1;
        transform: translateY(0px);
        transition-duration: 0.3s;
    }

    .edit-link {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

        .edit-link:hover {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
</style>
<div class="list">
    <h2>Department List</h2>
    <div class="format">
        <table class="table">
            <thead>
                <tr class="rows">
                    <th>Department Name</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr class="rows">
                        <td class="cols">@category.CategoryName</td>
                        

                        <td class="cols">
                            
                                <a asp-action="EditCategory" asp-controller="Category" asp-route-id="@category.CategoryId" class="edit-link">
                                    <button class="edit-button">
                                        <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                            <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                                        </svg>
                                    </button>
                                </a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
